{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<header>
    <h1>Turt's Online Shop</h1>
</header>
<main>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
    <section class="item"><div><p>Add To Cart</p></div></section>
</main>
<footer>
    <div><a href=checkout><h2>To Checkout</h2></a></div>
    <div><a href=cart><h2>View Cart</h2></a></div>
</footer>
{% endblock %}

