{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart-styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div><a href=/><h3>Return to home</h3></a></div>
</header>
<main>
    <table>
        <caption>Items in Cart:</caption>
        <tbody>
            <tr>
                <th>Item</th>
                {% for item in items %}
                <td>{{ item[0] }}</td>
                {% endfor %}
            <tr>
                <th>Price</th>
                {% for price in prices %}
                <td>{{ price[0] }}</td>
                {% endfor %}
            </tr>
            <tr class="table-remove-row">
                <th>Remove Item</th>
                {% for id in ids %}
                <td>
                    <form action="/delete/{{ id[0] }} " method="POST">
                        <input type="text" value={{ id[0] }} name="delete-item">
                        <input type="submit" value="Delete item">
                    </form>
                </td>
                {% endfor %}
            </tr>   
        </tbody>    
    </table>
</main>
<footer>
    <div><a href=checkout><h2>To Checkout</h2></a></div>
</footer>
{% endblock %}
