{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart-styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <a href=/><div><h3>Home</h3></div></a>
    <a href=/cart><div><h3>Back To Cart</h3></div></a>
</header>
<main>
    <div>
        <h2>Submit Items For Checkout</h2>
        <div class="submit-button"><p>Click To Submit</p></div>
    </div>
</main>
<footer>

</footer>
<script src="{{url_for('static', filename='javascript/main.js')}}"></script>
{% endblock %}
